<H1>Harkell</H1>
<p id="notice"><%= notice %></p>
<p>The personal website of Jordan Harkell Short.</p>


CV:		<%= link_to 'CV September 2016', root_path %>								
Research: <%= link_to 'Research paper 1', asset_path("TFOC-30-03-14.pdf") %> <%= link_to 'Research paper 2', root_path %> <%= link_to 'Research paper 3', root_path %>