<font size='1'><%= 'Portfolio' %></font>
<center>
<u><b>Current Portfolio</h1></u></b>

<table>


  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.ticker %></td>
        <td align='left'><%= link_to "#{position.name}", position %></td>
        <% if @current_user != nil && @current_user.admin == true %>
          <td><%= link_to 'Edit', edit_position_path(position) %></td>
          <%#= link_to 'Add rationale', new_rationale_path(:id => position.id) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Historical Positions', inactive_path %>
<% if @current_user != nil && @current_user.admin == true %>
  <%= link_to 'New Position', new_position_path %>
<% end %>



<br>
<br>
<br>
<u><b>Portfolio returns</b></u>
<table width='300px'>
  <tr>
    <th>Year</th>
    <th>Return</th> 
    <th>Since inception</th>
  </tr>
  <tr>
    <td>2013-2015</td>
    <td>27.9%</td> 
    <td>27.9%</td>
  </tr>
  <tr>
    <td>2015</td>
    <td>61.4%</td> 
    <td>106.4%</td>
  </tr>
  <tr>
    <td>2016</td>
    <td>TBC%</td> 
    <td>TBC%</td>
  </tr>
    <tr>
    <td>2017 (to date)</td>
    <td>TBC%</td> 
    <td>TBC%</td>
  </tr>
</table>


</center>