<font size='1'><%= 'Portfolio' %></font>
<center>
<div class='adjustedTitle'>
<u><b>Current Portfolio</u></b>
</div>
<table>

<div class='portfolioList'>
<% if @current_user != nil %> <%# Delete this to show portfolio for all  %>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.ticker %></td>
        <td><%= link_to "#{position.name}", position %></td>
        <% if @current_user != nil && @current_user.admin == true %>
          <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %> <%# and this else block %>
  <br>Portfolio currently private.
<% end %> <br>
</div>

<div class='button'>
<%= link_to 'Historical Positions', inactive_path %>
<% if @current_user != nil && @current_user.admin == true %>
  <%= link_to 'New Position', new_position_path %>
<% end %>
</div>

<br>
<div class='returnsTable'>
<u><b>Portfolio returns</b></u>
<table width='300px', border='1'>
  <tr>
    <th>Year</th>
    <th>Return</th> 
    <th>Since inception</th>
  </tr>
  <tr>
    <td>2013-2015</td>
    <td>27.9%</td> 
    <td>27.9%</td>
  </tr>
  <tr>
    <td>2015</td>
    <td>61.4%</td> 
    <td>106.4%</td>
  </tr>
  <tr>
    <td>2016</td>
    <td>TBC%</td> 
    <td>TBC%</td>
  </tr>
    <tr>
    <td>2017 (to date)</td>
    <td>TBC%</td> 
    <td>TBC%</td>
  </tr>
</table>
</div>


</center>