<font size='1'>
<% if @position.active %>
	<%= link_to 'Portfolio', portfolio_path %>><%= @position.ticker %>
<% else %>
	<%= link_to 'Historical Positions', inactive_path %>><%= @position.ticker %>
<% end %>
</font>

<center>
<h1><%= @position.name %></h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Ticker:</strong>
  <%= @position.ticker %>
</p>

<p>
  <strong><%= "About #{@position.ticker}" %>:</strong><br>
  <%= @position.description %>
</p>


<%= link_to 'View Investment Rationale', rationale_path(:id => params[:id]) %>
<% if @current_user != nil && @current_user.admin == true %>
  <%= link_to 'Edit', edit_position_path(@position) %>
<% end %>
</center>