<font size='1'>
<% if @position.active %>
	<%= link_to 'Portfolio', portfolio_path %>><%= @position.ticker %>
<% else %>
	<%= link_to 'Historical Positions', inactive_path %>><%= @position.ticker %>
<% end %>
</font>
<center>
<div class='adjustedTitle'>
	<u><b><%= @position.name %></b></u>
</div>
<p id="notice"><%= notice %></p>


<p>
  <b><%= "About #{@position.ticker}" %>:</b>
  <br>
  <%= safe_join(@position.description.split("\r\n"), "<br />".html_safe) %>
</p>

<div class='button'>
<%= link_to 'View Investment Rationale', rationale_path(:id => params[:id]) %>
<% if @current_user != nil && @current_user.admin == true %>
  <%= link_to 'Edit', edit_position_path(@position) %>
<% end %>
</div>
</center>