<font size='1'>
	<% if @position != nil %>
		<%= link_to @active_group, portfolio_path %>><%= link_to @position.ticker, position_path(params[:position_id]) %>><%= link_to "Investment Rationale", position_rationale_path(params[:position_id]) %>><%= "New" %>
	<% end %>
</font>
<center>
<% if @current_user != nil && @current_user.admin == true %>
	<h1>New rationale</h1>

	<% if @completed != true %>
		<%= render 'form' %>
	<% else %>
		<%= "Rationales already made." %>
		<%= "(#{@findrationale})" %>
	<% end %>
<% else %>
	Permission denied.
<% end %>
</center>
