<h1><%= @position.ticker + ' Investment Rationale' %></h1>
<% if @position.active %>
	<%= link_to 'Portfolio', portfolio_path %>><%= link_to @position.ticker, position_path(params[:id]) %>><%= "Investment Rationale" %>
<% else %>
	<%= link_to 'Historical Positions', inactive_path %>><%= link_to @position.ticker, position_path(params[:id]) %>><%= "Investment Rationale" %>
<% end %>
<p id="notice"><%= notice %></p>
<% if @norationale == false %>
	<p>
  	  <strong>Position:</strong>
  	  <%= @position.ticker %>
	</p>

	<p>
  	  <strong>Reasons for invesment:</strong>
  	  <%= @rationale.reasons %>
	</p>

	<p>
  	  <strong>Merits:</strong>
  	  <%= @rationale.merits %>
	</p>

	<p>
  	  <strong>Concerns:</strong>
  	  <%= @rationale.concerns %>
	</p>

	<% if @current_user != nil && @current_user.admin == true %>
		<%= link_to 'Edit', edit_rationale_path(@rationale) %> |
	<% end %>

	<% else %>
		<%= "No rationale added." %>
		<% if @current_user != nil && @current_user.admin == true %>
			<%= link_to 'Add rationale', new_rationale_path(:id => params[:id]) %>
		<% end %>

<% end %>