<font size='1'>
<% if @position.active %>
	<%= link_to 'Portfolio', portfolio_path %>><%= link_to @position.ticker, position_path(params[:position_id]) %>><%= "Investment Rationale" %>
<% else %>
	<%= link_to 'Historical Positions', inactive_path %>><%= link_to @position.ticker, position_path(params[:position_id]) %>><%= "Investment Rationale" %>
<% end %>
</font>
<center>
<div class='adjustedTitle'>
<u><b><%= @position.ticker + ' Investment Rationale' %></b></u>
</div>
<p id="notice"><%= notice %></p>
<% if @norationale == false %>

	<p>
  	  <strong>Reasons for invesment:</strong><br>
  	  <%= safe_join(@rationale.reasons.split("\r\n"), "<br />".html_safe) %>
	</p>

	<p>
  	  <strong>Merits:</strong><br>
  	  <%= safe_join(@rationale.merits.split("\r\n"), "<br />".html_safe) %>
	</p>

	<p>
  	  <strong>Concerns:</strong><br>
  	  <%= safe_join(@rationale.concerns.split("\r\n"), "<br />".html_safe) %>
	</p>

	<% if @current_user != nil && @current_user.admin == true %>
		<%= link_to 'Edit', edit_position_rationale_path %>
	<% end %>

	<% else %>
		<%= "No rationale added." %>
		<% if @current_user != nil && @current_user.admin == true %>
			<%= link_to 'Add rationale', new_position_rationale_path(:id => params[:id]) %>
		<% end %>

<% end %>
</center>